* {
  box-sizing: border-box;
}

.addStudent .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
.addStudent .container form {
  padding: 2vw 3vw;
  width: 30vw;
  box-shadow: 1px 3px 5px rgba(17, 17, 17, 0.411);
}

.addStudent .container .title {
  font-size: 2.5vw;
  display: block;
  text-align: center;
  margin-bottom: 2vw;
}
.addStudent .container form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}
.addStudent form input,
.addStudent form select {
  border-radius: 5px;
  padding: 0.5vw;
  width: 80%;
}
.addStudent label {
  color: #f8f8f2;
  font-size: 1.2vw;
}

.addStudent .btn input,
.addStudent .btn a {
  margin-top: 1vw;
  text-decoration: none;
  width: 30%;
  padding: 0.5vw;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  font-family: "Virgula Vulgaris", sans-serif;
  color: #f8f8f2;
  font-size: 1vw;
}

.addStudent .error {
  font-size: 1vw;
}

@media screen and (max-width: 900px) {
  .addStudent .container form {
    width: 45vw;
  }
  .addStudent form input,
  .addStudent form select {
    padding: 0.8vw;
    width: 85%;
  }
  .addStudent label {
    font-size: 2vw;
  }
  .addStudent .btn input,
  .addStudent .btn a {
    margin-top: 2vw;
    width: 30%;
    padding: 1vw;
    font-size: 1.5vw;
  }

  .addStudent .error {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .addStudent .container {
    margin-top: 1.5rem;
  }
  .addStudent .container form {
    width: 80vw;
    padding: 5vw;
  }
  .addStudent .container .title {
    font-size: 5vw;
  }

  .addStudent form input,
  .addStudent form select {
    padding: 1.5vw;
    width: 85%;
    margin: 0.8vw 0;
  }
  .addStudent label {
    font-size: 4vw;
  }
  .addStudent .btn input,
  .addStudent .btn a {
    margin-top: 4vw;
    width: 35%;
    padding: 2vw;
    font-size: 3vw;
  }

  .addStudent .error {
    font-size: 3vw;
  }
}
