.confirm_alert {
  padding: 2vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(17, 17, 17, 0.411);
}
.confirm_alert .btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.confirm_alert .btn button {
  width: 8vw;
  padding: 0.3vw;
}
.confirm_alert p span {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .confirm_alert {
    padding: 3vw;
  }

  .confirm_alert .btn button {
    width: 12vw;
    padding: 0.5vw;
  }
}
@media screen and (max-width: 600px) {
  .confirm_alert {
    margin: 2rem;
    padding: 3vw;
  }

  .confirm_alert .btn button {
    width: 20vw;
    padding: 1vw;
  }
}
